
<mat-dialog-content>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <button mat-icon-button (click)="closeDialog()" style="float: right;">
            <mat-icon>close</mat-icon>
          </button>
        <h2 mat-dialog-title>
            <mat-icon matPrefix>login</mat-icon>

            sign in
        </h2>
        
                <mat-form-field>
                    <mat-label>email</mat-label>
                    <input matInput formControlName="email" required>
                    <mat-icon matPrefix>email</mat-icon>
                    @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
                        <mat-error>
                            Email is invalid
                        </mat-error>
                    }
                </mat-form-field>
                <mat-form-field>
                    <mat-label>password</mat-label>
                    <input matInput formControlName="password" required>
                    <mat-icon matPrefix>lock</mat-icon>
                    @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
                        <mat-error>
                            Password is required
                        </mat-error>
                    }
                </mat-form-field>
                
           
        <button mat-raised-button type="submit" 
        [disabled]="loginForm.invalid">
            sign in
        </button>
    </form>
</mat-dialog-content>
